In [76]:
import pandas as pd
import math
import numpy as np
df = pd.read_csv("../merged_data/words_songs_matched_90s.csv", sep=",")
g = pd.read_csv("../Songs_genre/msd_tagtraum_cd2c.cls.csv", sep="\t")
df = df.merge(g, left_on="track_id", right_on="trackId")
df = df.drop(columns=['minority-genre','trackId'])

TFIDF Style Metric

In [77]:
df.head()

,word,count,track_id,song_id,artist_id,title,artist_name,duration,year,artist_hotttnesss,majority-genre
0,i,2,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock
1,the,2,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock
2,you,16,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock
3,to,3,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock
4,and,4,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock

In [78]:
#max frequency by year
for year in df.year.unique():
    print(year)
    df.loc[df['year'] == year, 'max_f_by_year'] = df.loc[df['year'] == year].groupby('word')['count'].transform(sum).max()
df.head()

1994
1992
1995
1990
1996
1991
1997
1998
1993
1999

,word,count,track_id,song_id,artist_id,title,artist_name,duration,year,artist_hotttnesss,majority-genre,max_f_by_year
0,i,2,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock,15251.0
1,the,2,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock,15251.0
2,you,16,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock,15251.0
3,to,3,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock,15251.0
4,and,4,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock,15251.0

In [79]:
#max frequency by genre
for g in df['majority-genre'].unique():
    print(g)
    df.loc[df['majority-genre'] == g, 'max_f_by_genre'] = df.loc[df['majority-genre'] == g].groupby('word')['count'].transform(sum).max()
df.head()

Rock
Blues
Country
RnB
Reggae
Metal
Electronic
Jazz
Pop
Folk
Punk
Rap
Latin
New Age
World

,word,count,track_id,song_id,artist_id,title,artist_name,duration,year,artist_hotttnesss,majority-genre,max_f_by_year,max_f_by_genre
0,i,2,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock,15251.0,78127.0
1,the,2,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock,15251.0,78127.0
2,you,16,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock,15251.0,78127.0
3,to,3,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock,15251.0,78127.0
4,and,4,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock,15251.0,78127.0

In [80]:
#frequency by year
df['f_by_year'] = df.groupby(['word','year'])['count'].transform(sum)
df.head()

,word,count,track_id,song_id,artist_id,title,artist_name,duration,year,artist_hotttnesss,majority-genre,max_f_by_year,max_f_by_genre,f_by_year
0,i,2,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock,15251.0,78127.0,15251
1,the,2,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock,15251.0,78127.0,13374
2,you,16,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock,15251.0,78127.0,12169
3,to,3,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock,15251.0,78127.0,7562
4,and,4,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock,15251.0,78127.0,7406

In [81]:
#frequency by genre
df['f_by_genre'] = df.groupby(['word','majority-genre'])['count'].transform(sum)
df.head()

,word,count,track_id,song_id,artist_id,title,artist_name,duration,year,artist_hotttnesss,majority-genre,max_f_by_year,max_f_by_genre,f_by_year,f_by_genre
0,i,2,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock,15251.0,78127.0,15251,78127
1,the,2,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock,15251.0,78127.0,13374,66690
2,you,16,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock,15251.0,78127.0,12169,64978
3,to,3,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock,15251.0,78127.0,7562,38196
4,and,4,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock,15251.0,78127.0,7406,39484

In [82]:
#tf by year
df['tf_by_year'] = df['f_by_year']/df['max_f_by_year']
print('tf domain:', [df['tf_by_year'].min(),df['tf_by_year'].max()])

tf domain: [3.7904631946023805e-05, 1.0]

In [83]:
#tf by genre
df['tf_by_genre'] = df['f_by_genre']/df['max_f_by_genre']
print('tf domain:', [df['tf_by_genre'].min(),df['tf_by_genre'].max()])

tf domain: [1.2799672328388393e-05, 1.0]

In [84]:
#track_count by year
for year in df.year.unique():
    print(year)
    df.loc[df['year'] == year, 'track_count_by_year'] = df.loc[df['year'] == year]['track_id'].nunique()
df.head()

1994
1992
1995
1990
1996
1991
1997
1998
1993
1999

,word,count,track_id,song_id,artist_id,title,artist_name,duration,year,artist_hotttnesss,majority-genre,max_f_by_year,max_f_by_genre,f_by_year,f_by_genre,tf_by_year,tf_by_genre,track_count_by_year
0,i,2,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock,15251.0,78127.0,15251,78127,1.000000,1.000000,1592.0
1,the,2,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock,15251.0,78127.0,13374,66690,0.876926,0.853610,1592.0
2,you,16,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock,15251.0,78127.0,12169,64978,0.797915,0.831697,1592.0
3,to,3,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock,15251.0,78127.0,7562,38196,0.495836,0.488896,1592.0
4,and,4,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock,15251.0,78127.0,7406,39484,0.485608,0.505382,1592.0

In [85]:
#track_count by genre
for g in df['majority-genre'].unique():
    print(g)
    df.loc[df['majority-genre'] == g, 'track_count_by_genre'] = df.loc[df['majority-genre'] == g]['track_id'].nunique()
df.head()

Rock
Blues
Country
RnB
Reggae
Metal
Electronic
Jazz
Pop
Folk
Punk
Rap
Latin
New Age
World

,word,count,track_id,song_id,artist_id,title,artist_name,duration,year,artist_hotttnesss,majority-genre,max_f_by_year,max_f_by_genre,f_by_year,f_by_genre,tf_by_year,tf_by_genre,track_count_by_year,track_count_by_genre
0,i,2,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock,15251.0,78127.0,15251,78127,1.000000,1.000000,1592.0,8667.0
1,the,2,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock,15251.0,78127.0,13374,66690,0.876926,0.853610,1592.0,8667.0
2,you,16,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock,15251.0,78127.0,12169,64978,0.797915,0.831697,1592.0,8667.0
3,to,3,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock,15251.0,78127.0,7562,38196,0.495836,0.488896,1592.0,8667.0
4,and,4,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock,15251.0,78127.0,7406,39484,0.485608,0.505382,1592.0,8667.0

In [86]:
#df by year
df['df_by_year'] = df.groupby(['word','year'])['word'].transform('count')
df.head()

,word,count,track_id,song_id,artist_id,title,artist_name,duration,year,artist_hotttnesss,majority-genre,max_f_by_year,max_f_by_genre,f_by_year,f_by_genre,tf_by_year,tf_by_genre,track_count_by_year,track_count_by_genre,df_by_year
0,i,2,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock,15251.0,78127.0,15251,78127,1.000000,1.000000,1592.0,8667.0,1276
1,the,2,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock,15251.0,78127.0,13374,66690,0.876926,0.853610,1592.0,8667.0,1377
2,you,16,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock,15251.0,78127.0,12169,64978,0.797915,0.831697,1592.0,8667.0,1204
3,to,3,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock,15251.0,78127.0,7562,38196,0.495836,0.488896,1592.0,8667.0,1298
4,and,4,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,Rock,15251.0,78127.0,7406,39484,0.485608,0.505382,1592.0,8667.0,1275

In [87]:
#df by genre
df['df_by_genre'] = df.groupby(['word','majority-genre'])['word'].transform('count')
df.head()

,word,count,track_id,song_id,artist_id,title,artist_name,duration,year,artist_hotttnesss,...,max_f_by_year,max_f_by_genre,f_by_year,f_by_genre,tf_by_year,tf_by_genre,track_count_by_year,track_count_by_genre,df_by_year,df_by_genre
0,i,2,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,...,15251.0,78127.0,15251,78127,1.000000,1.000000,1592.0,8667.0,1276,7035
1,the,2,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,...,15251.0,78127.0,13374,66690,0.876926,0.853610,1592.0,8667.0,1377,7475
2,you,16,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,...,15251.0,78127.0,12169,64978,0.797915,0.831697,1592.0,8667.0,1204,6781
3,to,3,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,...,15251.0,78127.0,7562,38196,0.495836,0.488896,1592.0,8667.0,1298,7055
4,and,4,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,...,15251.0,78127.0,7406,39484,0.485608,0.505382,1592.0,8667.0,1275,6969

In [88]:
#idf
df['idf_by_year'] = np.log2(df['track_count_by_year']/df['df_by_year'])
df['idf_by_genre'] = np.log2(df['track_count_by_genre']/df['df_by_genre'])

In [89]:
df['tfidf_by_year'] = df['tf_by_year']*df['idf_by_year']
print('tfidf domain:', [df['tfidf_by_year'].min(),df['tfidf_by_year'].max()])
df['tfidf_by_genre'] = df['tf_by_genre']*df['idf_by_genre']
print('tfidf domain:', [df['tfidf_by_genre'].min(),df['tfidf_by_genre'].max()])

tfidf domain: [0.00042898235970604463, 0.34699211185574497]
tfidf domain: [0.00016743657108663805, 1.3561438102252754]

In [90]:
df.head()

,word,count,track_id,song_id,artist_id,title,artist_name,duration,year,artist_hotttnesss,...,tf_by_year,tf_by_genre,track_count_by_year,track_count_by_genre,df_by_year,df_by_genre,idf_by_year,idf_by_genre,tfidf_by_year,tfidf_by_genre
0,i,2,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,...,1.000000,1.000000,1592.0,8667.0,1276,7035,0.319212,0.300982,0.319212,0.300982
1,the,2,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,...,0.876926,0.853610,1592.0,8667.0,1377,7475,0.209312,0.213459,0.183551,0.182211
2,you,16,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,...,0.797915,0.831697,1592.0,8667.0,1204,6781,0.403005,0.354035,0.321564,0.294450
3,to,3,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,...,0.495836,0.488896,1592.0,8667.0,1298,7055,0.294550,0.296887,0.146049,0.145147
4,and,4,TRAACIE128F428495B,SOAOJYY12A58A7B2F9,ARFVYJI1187B9B8E13,Not For You,Pearl Jam,352.88771,1994,0.590417,...,0.485608,0.505382,1592.0,8667.0,1275,6969,0.320343,0.314581,0.155561,0.158984

In [91]:
dfs = df[['word','count', 'track_id','year','track_count_by_year', 'tf_by_year', 'idf_by_year', 'df_by_year', 'tfidf_by_year', 'tf_by_genre', 'idf_by_genre', 'df_by_genre', 'tfidf_by_genre']]

In [92]:
dfs.to_csv("../merged_data/words_songs_matched_subset_metrics.csv", sep=",", index=False)

In [93]:
dfs[(dfs['year'] == 1990) & (dfs['word'] == 'beer')]

,word,count,track_id,year,track_count_by_year,tf_by_year,idf_by_year,df_by_year,tfidf_by_year,tf_by_genre,idf_by_genre,df_by_genre,tfidf_by_genre
90609,beer,1,TRBQUEO128F92C653B,1990,1035.0,0.003894,6.555983,11,0.025531,0.001118,5.251482,32,0.005870
288424,beer,2,TRFBTRE12903CEF0F2,1990,1035.0,0.003894,6.555983,11,0.025531,0.004445,5.294621,16,0.023537
330854,beer,1,TRFTEZV128F92EC68A,1990,1035.0,0.003894,6.555983,11,0.025531,0.001152,6.833389,76,0.007872
401842,beer,2,TRHBVPA128F4246C62,1990,1035.0,0.003894,6.555983,11,0.025531,0.002767,7.734710,6,0.021400
522457,beer,1,TRJIUQV128F92C654D,1990,1035.0,0.003894,6.555983,11,0.025531,0.001118,5.251482,32,0.005870
590248,beer,1,TRKRPTO128F146B9FD,1990,1035.0,0.003894,6.555983,11,0.025531,0.001118,5.251482,32,0.005870
731599,beer,1,TRNHQSX128F428D39E,1990,1035.0,0.003894,6.555983,11,0.025531,0.001118,5.251482,32,0.005870
801795,beer,26,TROTORT128F4246C63,1990,1035.0,0.003894,6.555983,11,0.025531,0.002767,7.734710,6,0.021400
1102078,beer,1,TRUVFZK128F148B3BE,1990,1035.0,0.003894,6.555983,11,0.025531,0.001152,6.833389,76,0.007872
1318603,beer,1,TRZEDBI128E07818A7,1990,1035.0,0.003894,6.555983,11,0.025531,0.001152,6.833389,76,0.007872
1377960,beer,1,TRCWTGI128F9313CCE,1990,1035.0,0.003894,6.555983,11,0.025531,0.001152,6.833389,76,0.007872

In [94]:
tm = pd.read_csv("../merged_data/track_meta.csv", sep=",")

In [95]:
dftm = dfs.merge(tm, left_on="track_id", right_on="track_id")

In [96]:
dftm[(dftm['word']=='money') & (dftm['year']==1999)].sort_values('song_hotttness', ascending=False)

,word,count,track_id,year,track_count_by_year,tf_by_year,idf_by_year,df_by_year,tfidf_by_year,tf_by_genre,idf_by_genre,df_by_genre,tfidf_by_genre,title,artist_name,song_hotttness
609639,money,1,TRPLXFD128F1454961,1999,2552.0,0.012584,4.219381,137,0.053098,0.019468,2.086575,287,0.040622,Ms. Fat Booty,Mos Def,0.879952
973961,money,1,TRZDKYM128F428B9B7,1999,2552.0,0.012584,4.219381,137,0.053098,0.006139,4.709658,24,0.028912,Summerholiday vs. Punkroutine,Refused,0.877197
747379,money,1,TRTEXRR128F92FA93F,1999,2552.0,0.012584,4.219381,137,0.053098,0.007859,4.634234,349,0.036420,Lucky Man,Greg Lake,0.873045
246678,money,11,TRFZJDA128F42134C2,1999,2552.0,0.012584,4.219381,137,0.053098,0.019468,2.086575,287,0.040622,Deception,Blackalicious,0.821660
71407,money,1,TRBUVNB128F14979A4,1999,2552.0,0.012584,4.219381,137,0.053098,0.007859,4.634234,349,0.036420,On My Way To Work,Bright Eyes,0.782346
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
889412,money,1,TRWWRXK128F146A0CC,1999,2552.0,0.012584,4.219381,137,0.053098,0.007859,4.634234,349,0.036420,Prince Among Men,Scritti Politti,0.360371
158445,money,1,TRDYXWA128F93236B1,1999,2552.0,0.012584,4.219381,137,0.053098,0.009705,4.304062,65,0.041772,Bob Away My Blues,Clint Black,0.360371
404709,money,1,TRKALUU128F42621C4,1999,2552.0,0.012584,4.219381,137,0.053098,0.006139,4.709658,24,0.028912,Madagascar,U.S. Bombs,0.355286
136803,money,3,TRDJZMI128F428CD72,1999,2552.0,0.012584,4.219381,137,0.053098,0.019468,2.086575,287,0.040622,Booty Club Playa,YoungBloodZ,0.334707
31493,money,1,TRAUYGQ128F9302F2A,1999,2552.0,0.012584,4.219381,137,0.053098,0.019468,2.086575,287,0.040622,Pop_ Pop_ Pop/Cuttin' Tonight Interlude,YoungBloodZ,0.253835

In [97]:
dftm[dftm['track_id'] == 'TRZRDDD128F4236EB1']

Empty DataFrame
Columns: [word, count, track_id, year, track_count_by_year, tf_by_year, idf_by_year, df_by_year, tfidf_by_year, tf_by_genre, idf_by_genre, df_by_genre, tfidf_by_genre, title, artist_name, song_hotttness]
Index: []

In [98]:
stop = pd.read_csv("../mxm_reverse_mapping.txt/wordlist_pos_SpaCy_lite.csv", sep=",")

In [99]:
dftms = dftm.merge(stop, left_on="word", right_on="stem")

In [101]:
print('idf domain:', [dftms['idf_by_year'].min(),dftms['idf_by_year'].max()])
print('tf domain:', [dftms['tf_by_year'].min(),dftms['tf_by_year'].max()])

idf domain: [0.9875090558168031, 11.31741261376487]
tf domain: [3.7904631946023805e-05, 0.18456650953064152]

In [102]:
print('idf domain:', [dftms['idf_by_genre'].min(),dftms['idf_by_genre'].max()])
print('tf domain:', [dftms['tf_by_genre'].min(),dftms['tf_by_genre'].max()])

idf domain: [0.32519088189636314, 13.08131698928577]
tf domain: [1.2799672328388393e-05, 0.687458081824279]

In [112]:
dftms['tf_by_genre']

0         0.107479
1         0.107479
2         0.247827
3         0.107479
4         0.107479
            ...
677658    0.000090
677659    0.000090
677660    0.000406
677661    0.000090
677662    0.000406
Name: tf_by_genre, Length: 677663, dtype: float64

In [32]:
dftms.word[dftms['track_id'].isin(dftms['track_id'][(dftms['year'] == 1994) & (dftms['word'] == 'love')])].nunique()

2785

In [33]:
dftms.word.nunique()

3005

In [104]:
g = pd.read_csv("../merged_data/80on_word_genre_lite.csv")

In [108]:
dftmsg = dftms.merge(g, left_on="word_m", right_on="word_m")

In [111]:
dftmsg.word.nunique()

3001